<%- model_class = WordScore -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dd><strong><%= @word_score.word %></strong><%= " is worth " %><strong><%= @word_score.score %></strong><%= " points" %></dd>
</dl>

<%= link_to "Word Scores Index", word_scores_path, :class => 'btn btn-default'  %>
<%= link_to "Calculate the Score of a New Word", new_word_score_path, :class => 'btn btn-default'  %>